body{font-family:"ו", Arial, Tahoma; color:#000; font-size:12px;margin:0px; padding:0px;}

#container {margin:0 auto;width:100%; height:100%;}
#header { 
	height:68px;
	width:100%;
}

.logonLeft {
	width:396px;
	height:68px;
	float:left;
	background:url("../image/logon.jpg") repeat;
}

.logonRight {
	margin-left:396px;
	height:68px;
	background:url("../image/logon_right.jpg") repeat-x;
}

#welcome {float:right;list-style:none;margin:0px;padding:45px 20px 0 0;}

#mainContent { height:530px;}

#sidebar{
	width:200px;
	float:left;
}

#content {margin-left:210px; height:530px;}

ul,li,a{margin:0;padding:0;}
 
#nav {   
width:200px;   
list-style-type: none;   
text-align:left;
}   
   
#nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav li {
  display: inline: /* :KLUDGE: Removes large gaps in IE/Win */
}

#nav li a {
  display: block;
  width: 200px;
  height: 28px;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  background: #94B8E9;
  font-weight:bold;
  font-size:14px;
  border-bottom:#ffffff 1px solid;
  padding:3px 0 3px 20px;
  text-transform: uppercase;
}

#nav li a:hover,#nav li .selected a {
   background-color: #369;
   background-position: right bottom;
   color: #fff;
}

#nav li ul {   
 list-style:none;   
 text-align:left;   
 padding:0;   
}

#nav li ul a{
 background: #ebebeb;   
 padding:3px 0 3px 20px;
 font-weight:normal;
 height: 21px;   
 width:200px;   
}   

#nav li ul a.selected{background:#FFFFFF;}

#nav li ul a:link  {   
 color:#666;   
 text-decoration:none;   
}   
#nav li ul a:visited  {   
 color:#666;   
 text-decoration:none;   
}   
#nav li ul a:hover {   
 color:#f3f3f3;   
 text-decoration:none;   
 font-weight:normal;   
 background:#94B8E9;   
}

#nav li:hover ul {   
 left: auto;   
}   
#nav li.sfhover ul {   
 left: auto;   
}    
     
#nav ul.collapsed {   
 display: none;   
}

.superdeptstyle1 {
	background-color: white;
}

.superdeptstyle2 {
	background-color: #CCCCCC;
}
